{% extends 'index.html' %}
{% load static %}
{% block content %}
<section class="ftco-section" id="scroll">
<div class="container-fluid">
<div class="row justify-content-center">
<div class="col-md-11 heading-section mb-5" data-aos="fade-up" data-aos-duration="1000">
<h2 class="mb-4">Contact us</h2>
<p><span class="subheading mr-2"><a href="index-2.html">Home</a></span> <span class="subheading">Contact</span></p>
</div>
</div>
<div class="row no-gutters justify-content-center">
<div class="col-md-12">
<div class="wrapper">
<div class="row g-0">
<div class="col-lg-6" data-aos="zoom-in-down" data-aos-duration="1000" data-aos-delay="100">
<div class="contact-wrap w-100 p-md-5 p-4">
<h3>Contact us</h3>
<p class="mb-4">We're open for any suggestion or just to have a chat</p>
<div class="row mb-4">
<div class="col-md-4">
<div class="dbox w-100 d-flex align-items-start">
<div class="text">
<p><span>Address:</span> 198 West 21th Street, Suite 721 New York NY 10016</p>
</div>
</div>
</div>
<div class="col-md-4">
<div class="dbox w-100 d-flex align-items-start">
<div class="text">
<p><span>Email:</span> <a href="https://www.getmyguidance.com/cdn-cgi/l/email-protection#f59c9b939ab58c9a8087869c8190db969a98"><span class="__cf_email__" data-cfemail="046d6a626b447d6b7176776d70612a676b69">[email&#160;protected]</span></a></p>
</div>
</div>
</div>
<div class="col-md-4">
<div class="dbox w-100 d-flex align-items-start">
<div class="text">
<p><span>Phone:</span> <a href="tel://1234567920">+ 1235 2355 98</a></p>
</div>
</div>
</div>
</div>
<form id="contactForm" name="contactForm" class="contactForm">
<div class="row">
<div class="col-md-12">
<div class="form-group">
<input type="text" class="form-control" name="name" id="name" placeholder="Name">
</div>
</div>
<div class="col-md-12">
<div class="form-group">
<input type="email" class="form-control" name="email" id="email" placeholder="Email">
</div>
</div>
<div class="col-md-12">
<div class="form-group">
<input type="text" class="form-control" name="subject" id="subject" placeholder="Subject">
</div>
</div>
<div class="col-md-12">
<div class="form-group">
<textarea name="message" class="form-control" id="message" cols="30" rows="4" placeholder="Create a message here"></textarea>
</div>
</div>
<div class="col-md-12">
<div class="form-group">
<input type="submit" value="Send Message" class="btn btn-white">
<div class="submitting"></div>
</div>
</div>
</div>
</form>
<div class="w-100 social-media mt-5">
<h3>Follow us here</h3>
<p>
<a href="#">Facebook</a>
<a href="#">Twitter</a>
<a href="#">Instagram</a>
<a href="#">Dribbble</a>
</p>
</div>
</div>
</div>
<div class="col-lg-6 d-flex align-items-stretch" data-aos="zoom-in-down" data-aos-duration="1000" data-aos-delay="200">
<div class="img w-100" style="background-image: url(images/about-1.jpg);"></div>
</div>
</div>
</div>
</div>
</div>
</div>
</section>
{% endblock %}